{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "blog.css "%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>street view</title>
</head>
<body>

<header>
<h1>street view</h1>
</header>

<main>
    <a href="search"target="_blank">

         <h1>search a place to visit </h1>
        
        </a>
        <a href="random" target="_blank">

            <h1>visit a random place</h1>
           
           
           </a>
         
    
    </main>
 
    
</body>
</html>