{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{ % static "blog.css " %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog master</title>
</head>
<body>

<header>
<h1>blog master</h1>
</header>
<main>


         <h1>{{posts.title}} </h1>
         <h2>{{posts.created}}</h2>
         <p>{{posts.content}} </p>
    </main>
    
</body>
</html>