{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
		
	<link rel="stylesheet" type="text/css" href=" {% staticfiles 'search.css' %}">
	
</head>
<body>
 
   
  
 
        <form method="post" action='test' enctype="multipart/form-data">
     
         
     {% csrf_token %}
     <div class="search-box">
      <button class="btn-search"><i class="fas fa-search"></i></button>
      <input type="text" class="input-search" placeholder="enter place to visit..." name="name">
  
     </form>
         
         
   
    


</body>
</html>